.list-item {
  height: 90px;
  padding: 26px 20px;
  background: #ffffff;
  display: flex;
  justify-content: left;
  align-items: center;
}

.list-item:first-child {
  border-radius: 6px 6px 0px 0px;
}

.list-item:last-child {
  border-radius: 0px 0px 6px 6px;
}

.list-item:hover {
  outline: 1px solid #f4f0f3;
}
