.list-item {
  height: 90px;
  padding: 26px 20px;
  background: #ffffff;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: transform 0.2s ease;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}

.list-item:first-child {
  border-radius: 6px 6px 0px 0px;
}

.list-item:last-child {
  border-radius: 0px 0px 6px 6px;
}

.list-item:hover {
  outline: 1px solid #f4f0f3;
  transform: scale(1.05);
}

.list-item-copy {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 15px;
}

.list-item:hover .list-item-copy {
	white-space: unset;
}
.list-item:hover .list-item-copy > div,
.list-item:hover .list-item-copy > div {
  white-space: unset;
  overflow: unset;
  text-overflow: unset;
}